.container {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    padding: 7px;
}

#username {
    border-radius: 7px;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px
}

.header input {

}
.messages {
    display:flex;
   /* align-items: center;*/
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    overflow-y: scroll;
   
    
}
.message {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    padding-top: 10px;  
}

.own {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}


.text {
    background-color: red;
}
.author {
    font-style: italic;
    background-color: green;
    background-position: center;
    background-size: cover;

}
#nachricht {
    border-radius: 7px;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

#button {
    border-radius: 7px;
}

.input {
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    padding: 7px;
}

#input {
    border-radius: 7px;
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

#submitButton {
    border-radius: 7px;
}